.goods-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #ffffff44;
	padding: .5em;
	width: min(25vw, 16em);
	border-radius: .25em;
	box-shadow: 0 8px 1em #00000044;

	transition: width 0.2s ease-in-out,
		padding 0.2s ease-in-out, ;

	.img {
		width: 100%;
		height: auto;
		border-radius: 0.25em;
	}

	.label {
		font-style: italic;
		font-size: .75em;
		opacity: .5;
		padding: 1em;
	}

	.author-container {
		padding: 0.5em;

		.author {
			display: flex;
			place-items: center;
			gap: 0.5em;

			span {
				font-size: .75em;
				opacity: .5;
			}
		}
	}
}

@media (max-width: 800px) {
	.goods-card {
		width: min(25vw, 16em);
		padding: .25em;
	}
}