.goods-card {
	place-self: center;
	display: grid;
	border: 1px solid hsla(0, 0%, 100%, 0.2);
	box-shadow: 0 8px 1em #00000044;
	padding-bottom: .5rem;

	grid: "img img" 1fr "author label" auto / auto 1fr;

	.img {
		grid-area: img;
		object-fit: cover;

		width: 100%;
		height: auto;
	}

	.id {
		grid-area: label;
		font-family: 'Consolas', Courier, monospace;
		place-self: center;
		padding-top: .4rem;
		opacity: .75;
	}

	.label {
		display: none;
		font-style: italic;
		font-size: .75em;
		opacity: .5;
		padding: 1em;
	}

	.author-container {
		grid-area: author;

		padding-top: 0.5em;
		padding-left: 0.5em;

		.author {
			display: flex;
			place-items: center;
			gap: 0.5em;

			.name {
				display: none;
			}

			span {
				font-size: .75em;
				opacity: .5;
			}
		}
	}
}

@media (max-width: 800px) {
	.goods-card {
		width: 90%;
		padding: .25em;
	}
}