.body {
	display: flex;
	flex-direction: column;
	background-color: #111111;
	padding: 2rem;
	border-radius: 1rem;
	user-select: none;

	max-width: 90vw;

	hr {
		height: 1px;
		background-color: #fff3;
		border: none;
	}

	hr.hr-wide {
		margin: 2rem;
		height: 1px;
		background-color: #fff3;
		border: none;
	}

	>div {
		font-size: 1rem;
	}
}

.member-header {
	display: flex;
	flex-direction: column;
	place-items: center;

	.name {
		font-weight: bold;
		margin-top: 1rem;
	}
}

.specific-data {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 0.25rem;
}

.specific-data-segment {
	display: flex;
	justify-content: center;
	gap: .25rem;

	background-color: #ffffff09;
	border-radius: .25rem;
	padding: 0.5rem;


	.label {
		font-weight: bold;
	}


	.label::after {
		// content: ":";
		// padding-left: .25em;
	}

	&.buff .data {
		color: #4fc74f;
	}

	&.buff .label {
		color: #4fc74f;
	}

	&.nurf .data {
		color: #c74f4f;
	}

	&.nurf .label {
		color: #c74f4f;
	}
}

.events-data {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	place-content: center;
	place-items: center;

	gap: 0.5rem;
}