.body {
	display: grid;

	grid-template:
		"logo title" auto
		"logo date" auto
		"logo url" auto
		/ auto 1fr;

	padding: 1rem;
	border: 1px solid white;
}

.logo {
	grid-area: logo;

	display: flex;
	place-self: center;
	height: 75%;
	display: block;
	margin: 0 auto;
	margin-right: 1rem;
	background-color: #fff;
	border-radius: 100%;
	padding: .25rem;

}

.label {
	grid-area: title;

	font-size: 1.5rem;
	text-align: left;
}

.date {
	grid-area: date;

	display: flex;
	gap: 1rem;


	.d-day {}

	.specific {
		.date-start {
			opacity: .5;
		}

		.date-separator {
			opacity: .5;
		}

		.date-end {
			opacity: .5;
		}

		.date-single {
			opacity: .5;
		}
	}
}

.url {
	grid-area: url;
	place-self: flex-end;
}