#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}



.circle-title {
  margin: 0 0 0.25em 0;
}

.member-img {
  height: min(6em, 25vw);
  border-radius: 100%;

  animation: logo-spin2 infinite 1s alternate ease-in-out;
}

.logo:hover {}

@keyframes logo-spin2 {
  from {
    transform: rotate(10deg);
  }

  to {
    transform: rotate(-10deg);
  }
}

@keyframes appear {
  from {
    opacity: 0.001;
  }

  to {
    opacity: 1;
  }
}

.fx-appear {
  animation: appear .25s;
}

.hr-default {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, #3330, #333, #3330);
  margin: 1em 0;
}

.url.instagram {
  opacity: .5;
  font-style: italic;
  font-size: .5em;
}