#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.title-card {
  font-size: 2em;
  display: flex;
  flex-direction: column;
  padding: 0em 0em 4em 0em;

}

.circle-title {
  margin: 0;
}

.member-img {
  height: 6em;
  border-radius: 100%;

  animation: logo-spin2 infinite 1s alternate ease-in-out;
}

.logo:hover {}

@keyframes logo-spin2 {
  from {
    transform: rotate(10deg);
  }

  to {
    transform: rotate(-10deg);
  }
}

.summary {
  color: #888;
  font-size: .5em;
  margin: 0;
}

.members {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.member-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #00000033;
  padding: 2em;
  border-radius: 1em;
}

.member-name {
  font-weight: bold;
  margin-top: 1em;
}

.specific-data-segment {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.specific-data-segment .label::after {
  content: ":";
  padding-left: .25em;
}

.specific-data-segment .label {
  font-weight: bold;
}