#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  /* will-change: filter; */
  /* transition: filter 300ms; */
  border-radius: 100%;

  animation: logo-spin2 infinite 1s alternate ease-in-out;
}

/* 
.logo.srpnt {
  filter: drop-shadow(0 0 2em #a73e3e);
}

.logo.wasak {
  filter: drop-shadow(0 0 2em #292992);
}

.logo.ghyi {
  filter: drop-shadow(0 0 2em #7e7e50);
} */

.logo:hover {
  filter: drop-shadow(0 0 0 #00000000);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes logo-spin2 {
  from {
    transform: rotate(10deg);
  }

  to {
    transform: rotate(-10deg);
  }
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.members {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.member {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #00000033;
  padding: 2em;
  border-radius: 1em;
}

.member-name {
  font-weight: bold;
  margin-top: 1em;
}