.header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2em;
	margin-top: 2em;
	user-select: none;
}

.title-card {
	font-size: 2em;
	display: flex;
	flex-direction: column;

}

.summary {
	color: #888;
	font-size: .5em;
	margin: 1em;
}

.members {
	display: flex;
	justify-content: center;
	gap: 1em;
	flex-wrap: wrap;
}

.member-specifics {
	margin: 0em auto;
	display: flex;
	place-content: center;
}

// .goods-board {
// 	display: flex;
// 	flex-direction: row;
// 	flex-wrap: wrap;
// 	justify-content: center;
// 	align-items: top;
// 	gap: 1em;
// 	margin: 0em 1em;

// 	transition: gap 0.2s ease-in-out;
// }

.goods-board-more {
	display: flex;
	place-content: center;
	align-items: center;

	font-size: 2em;
}


@media (max-width: 800px) {
	.goods-board {
		gap: 0.5em;
	}
}


.my-masonry-grid {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	/* gutter size offset */
	margin-left: -1em;
	width: auto;
}

.my-masonry-grid_column {
	padding-left: 1em;
	/* gutter size */
	background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column>div {
	margin-bottom: 1em;
}


@media (max-width: 800px) {
	.my-masonry-grid {
		/* gutter size offset */
		margin-left: -.5em;
	}

	.my-masonry-grid_column {
		padding-left: .5em;
	}

	/* Style your items */
	.my-masonry-grid_column>div {
		margin-bottom: .5em;
	}
}

.event-board {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: top;
	gap: 1em;
	margin: 0em 1em;

	transition: gap 0.2s ease-in-out;
}