.header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2em;
	margin-top: 2em;
	user-select: none;
}

.title-card {
	font-size: 2em;
	display: flex;
	flex-direction: column;

}

.summary {
	color: #888;
	font-size: .5em;
	margin: 1em;
}

.members {
	display: flex;
	justify-content: center;
	gap: 1em;
	flex-wrap: wrap;
}

.member-specifics {
	margin: 0em auto;
	display: flex;
	place-content: center;
}

.goods-board {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: top;
	gap: 1em;
}