.member-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #00000033;
	padding: min(5vw, 2em);
	border-radius: 1em;

	.member-name {
		font-weight: bold;
		margin-top: 1em;
	}

	.member-mbti {
		font-style: italic;
		font-size: .75em;
		opacity: .5;
	}
}


.member-icon-circle {
	display: flex;

	.img {
		height: min(6em, 25vw);
		border-radius: 100%;

		animation: logo-spin2 infinite 1s alternate ease-in-out;
	}
}

@keyframes logo-spin2 {
	from {
		transform: rotate(10deg);
	}

	to {
		transform: rotate(-10deg);
	}
}