.member-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: hsl(0, 0, 10%);
	padding: min(5vw, 2rem);
	border-radius: .25rem;
	border: 2px solid var(--mamber-color);

	box-shadow: 0 4px 0px var(--mamber-color),
		0 4px 8px rgba(0, 0, 0, .5);

	.member-name {
		font-weight: bold;
		margin-top: .5rem;
	}

	.member-mbti {
		font-style: italic;
		font-size: .75rem;
		opacity: .5;
	}
}


.member-icon-circle {
	display: flex;

	.img {
		height: min(6em, 25vw);
		border-radius: 100%;

		animation: logo-spin2 infinite 1s alternate ease-in-out;
	}
}

@keyframes logo-spin2 {
	from {
		transform: rotate(5deg);
	}

	to {
		transform: rotate(-5deg);
	}
}