.member-card {
	display: flex;
	flex-direction: column;
	align-items: center;

	.member-name {
		font-weight: bold;

	}

	.member-mbti {
		font-style: italic;
		font-size: .75rem;
		opacity: .5;
	}

	hr {
		width: 50%;
		border-top: 1px solid var(--mamber-color);
		margin-top: .5rem;
		margin-bottom: .25rem;
	}
}


.member-icon-circle {
	display: flex;

	.img {
		height: min(6em, 25vw);
		border-radius: 100%;

		animation: logo-spin2 infinite 1s alternate ease-in-out;
	}

}

@keyframes logo-spin2 {
	from {
		transform: rotate(2.5deg);
	}

	to {
		transform: rotate(-2.5deg);
	}
}